h2 {
  font-family: 'Kite One', sans-serif;
}

div, h1, h3, h4, h5 {
  font-family: 'Hind Madurai', sans-serif;
}

.App {
  text-align: center;
  padding-bottom: 40px;
}

.App-logo {
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.App-header {
  background-color: lightgray;
  height: 70px;
  padding: 5px;
  color: black;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}

.App-header h2 {
  float: left;
  margin-top: 0px;
  line-height: 60px;
  padding-left: 14px;
  font-size: 24px;
}

.App-intro {
  font-size: large;
}

.cheeseTransition {
  font-size: large;
  padding-bottom: 20px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.cheeseTitle {
  margin-bottom: 10px;
}

h5 {
  margin-bottom: 3px;
}

.cheeseWrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.cheeseBox {
  height: 420px;
}

.cheeseBox img {
  max-width: 100%;
  border-radius: 5px;
}

.wineBox {
  width: vw;
  margin: 0 auto;
  padding-left: 230px;
  text-align: center;
}

.navBar li {
  display: inline;
  padding-right: 10px;
}

.navBar {
  padding: 0;
}

.signUp, .logIn {
  width: 500px;
  margin: 40px auto 70px auto;
  border: 1px solid lightgray;
  background: white;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.35);
}

.menuBar {
  margin-bottom: 0!important;
  border-radius: 0!important;
}

.cheesePic {
  font-size: 30px;
  line-height: 12px;
}

.wineList {
  width: 500px;
}

li {
  clear: both;
}

.bottlePic {
  float: left;
  /*border: 1px solid red;*/
}

.bottlePic img {
  max-height: 100px;
  margin-bottom: 15px;
}

.bottleInfo {
  float: left;
  /*border: 1px solid lime;*/
  margin: 0 auto;
  font-size: 16px;
  text-align: left;
  margin-top: 12px;
  margin-left: 15px;
}

.wineWrap {
  clear: both;
  /*border: 1px solid lightblue;*/
}

hr {
  clear: both;
}

ul {
  padding-left: 0;
}

.wineSearcher h4 {
  margin-bottom: 0;
  text-align: left;
}

.buttonGroup {
  padding-left: 10px;
}

.blue a {
  color: dodgerblue!important;
}
