.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 70px;
}

.App-header {
  background-color: #660066;
  height: 160px;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cheeseTitle {
  margin-bottom: 27px;
}

h5 {
  margin-bottom: 3px;
}

.cheeseWrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.cheeseBox {
  height: 290px;
}

.cheeseBox img {
  max-width: 100%;
  border-radius: 5px;
}

.navBar li {
  display: inline;
  padding-right: 10px;
}

.navBar {
  padding: 0;
}

.signUp, .logIn {
  width: 500px;
  margin: 0 auto 70px auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.50);
  box-shadow: 3px 4px 5px -1px rgba(0,0,0,0.50);
}

.menuBar {
  margin-bottom: 0!important;
  border-radius: 0!important;
}

.cheesePic {
  font-size: 30px;
  line-height: 12px;
}
